.chat .chat__tabs a.active{
  --tw-bg-opacity: 1;
  background-color: rgba(20, 46, 113, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.chat .chat__chat-list {
  height: 525px;
}
.chat .chat__user-list {
  height: 525px;
}
.chat .chat__box {
  height: 782px;
}
.chat .chat__box .chat__box__text-box {
  max-width: 49%;
}
@media (max-width: 639px) {
  .chat .chat__box .chat__box__text-box {
    max-width: 90%;
  }
}
.chat .chat__box__input {
  height: 46px;
}


.chat .chat__tabs a.active{
  --tw-bg-opacity: 1;
  background-color: rgba(20, 46, 113, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.chat .chat__chat-list {
  height: 525px;
}
.chat .chat__user-list {
  height: 525px;
}
.chat .chat__box {
  height: 782px;
}
.chat .chat__box .chat__box__text-box {
  max-width: 49%;
}
@media (max-width: 639px) {
  .chat .chat__box .chat__box__text-box {
    max-width: 90%;
  }
}
.chat .chat__box__input {
  height: 46px;
}


.pos-dropdown .pos-dropdown__dropdown-menu {
  width: 265px;
}

.pos .pos-image:before {
  content: "";
  padding-top: 100%;
  display: block;
  width: 100%;
}
.pos .pos-image .pos-image__preview{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.pos .pos-image .pos-image__preview img{
  border-radius: 0.375rem;
}
.pos .pos__tabs a.active{
  --tw-bg-opacity: 1;
  background-color: rgba(20, 46, 113, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.pos .pos__ticket .pos__ticket__item-name {
  max-width: 50%;
}
.pos .pos__box {
  height: 780px;
}
