@mixin for-laptop {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

// default container

.main-container {
  width: 1280px;
  margin: 0 auto;
  background: red;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(270px, 1fr) );
  grid-column-gap: 24px;
  grid-row-gap: 32px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.grid-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.vm--container {
  display: flex;
  align-items: center !important;
}

.vm--modal {
  max-height: 90% !important;
  border-radius: 10px !important;
  height: fit-content !important;
}

.w-full {
  width: 100%;
}
