@mixin for-laptop {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

// default container

.main-container {
  width: 1280px;
  margin: 0 auto;
  background: red;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(270px, 1fr) );
  grid-column-gap: 12px;
  grid-row-gap: 32px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.grid-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 32px;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
  }
}

.vm--container {
  display: flex;
  align-items: center !important;
  z-index: 9999 !important;
}

.vm--modal {
  max-height: 90% !important;
  border-radius: 10px !important;
  height: fit-content !important;
  overflow: scroll !important;

  @include for-phone-only {
    top: 70px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    height: calc(100vh - 100px) !important;
    //padding-bottom: 180px !important;
  }

  @supports (-webkit-touch-callout: none) {
    bottom: calc(49px + env(safe-area-inset-bottom));
  }
}

.w-full {
  width: 100%;
}

.account-wrapper {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 0;

}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg {
      margin: 0 12px 0 12px;
    }

    a, p {
      color: #000 !important;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.heading {
  word-wrap: break-word !important;
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 1.125em !important;
  margin-bottom: 36px !important;
}

.breadcrumbs {
  margin-top: 36px;

  @include for-phone-only {
    margin-top: 0 !important;
    margin-bottom: 22px !important;
  }
}

.modal-inner {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: fit-content;

  .modal-content {
    padding: 16px 0;
    overflow-y: scroll;
    textarea {
      height: 200px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 21px;
      box-sizing: border-box;
      padding: 24px;

      &:focus {
        outline: none;

      }
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 16px;

  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  svg, i {
    cursor: pointer;
  }
}

textarea, select, input[type="text"] {
  -webkit-appearance: none;
}
