@mixin for-laptop {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

// default container

.main-container {
  width: 1280px;
  margin: 0 auto;
  background: red;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(270px, 1fr) );
  grid-column-gap: 12px;
  grid-row-gap: 32px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.grid-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 32px;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.vm--container {
  display: flex;
  align-items: center !important;
  z-index: 9999 !important;
  min-height: 100vh !important;
}

.vm--modal {
  max-height: 90% !important;
  border-radius: 4px !important;
  height: fit-content !important;
  overflow: scroll !important;

  @include for-phone-only {
    max-height: 100% !important;
    min-height: 100% !important;
    top: 0px !important;
    border-radius: 0px !important;
    //padding-bottom: 180px !important;

    &.only-sort-mobile {
      min-height: 40% !important;
      max-height: 40% !important;
    }

  }

  @supports (-webkit-touch-callout: none) {
    padding-bottom: calc(120px + env(safe-area-inset-bottom));
  }
}

.w-full {
  width: 100%;
}

.account-wrapper {
  display: flex;
  margin: 0 80px;
  width: auto;
  box-sizing: border-box;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 0;
  min-height: calc(100vh - 80px);

  @include for-phone-only {
    margin: 0;
    min-height: calc(100vh - 80px);
  }

}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    svg {
      margin: 0 12px 0 12px;
    }

    a, p {
      color: #000 !important;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.heading {
  word-wrap: break-word !important;
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 1.125em !important;
  margin-bottom: 36px !important;
}

.breadcrumbs {
  margin-top: 0;

  @include for-phone-only {
    margin-top: 0 !important;
    margin-bottom: 22px !important;
  }
}

.modal-inner {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: fit-content;

  @include for-phone-only {
    padding: 0 24px 24px 24px;
  }

  .modal-content {
    padding: 1px;
    overflow-y: scroll;
    textarea {
      height: 200px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-family: 'NunitoSans', sans-serif;;
      font-size: 15px;
      line-height: 16px;
      box-sizing: border-box;
      padding: 12px;
      min-height: 400px;

      &:focus {
        outline: none;
      }
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 24px;

  @include for-phone-only {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  h2 {
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #000 !important;
    margin-bottom: 0 !important;

    @include for-phone-only {
      font-size: 16px;
      font-weight: 700;
      color: #000;
    }
  }

  svg, i {
    cursor: pointer;
    color: #000
  }
}

textarea, select, input[type="text"] {
  -webkit-appearance: none;
}

.preview-wrapper-inner {
  @include for-phone-only {
    padding: 16px !important;
    margin-top: 0 !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.preview-wrapper-inner {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 4px;
  padding: 24px 0 !important;

  @include for-phone-only {
    padding: 24px !important;
    height: 100% !important;
  }
}

.no-image img {
  width: fit-content !important;
}

input {
  &:focus-visible {
    outline: none;
    border: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.custom-width {
  width: 1280px;
  margin: 0 auto;

  @include for-phone-only {
    width: 100%;
  }
}
.adsbygoogle {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 24px;
}

.main-tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 36px;

  li {
    cursor: pointer;
    padding: 0 4px 16px 4px;
    margin-right: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #959595;

    &.active {
      font-weight: 600;
      color: #1F2937;
      border-bottom: 2px solid #1F2937;
    }
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

